// SASS variables
$chipnYellow: #FFCD00;
$linkHover: #03A9F4;
$darkGrey: #484848;
$buttonBG: #FF3A3A;

.DiscoverCharityContainer {
    padding-bottom: 25px;
}

.dis_CharityCardContainer {
    
}

.dis_CharityCard {
    min-height: 400px;
    background-color: #FFFFFF;
}