// SASS variables
$chipnYellow: #FFCD00;
$linkHover: #03A9F4;
$darkGrey: #484848;
$headerBackground: #ffffff;

.headerContainer {
    max-width: 100%;
    min-height: 56px;
    background-color: $headerBackground;
    border-bottom: 1px solid #cccccc;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 30px;
    color: $darkGrey;
    box-shadow: 0px 1px 5px #CCCCCC;
    position: relative;
    z-index: 100;
}

.logoContainer {
    width: 120px;
    height: 56px;
    float: left;
}
.logoContainer:hover {
    cursor: pointer;
}
.chipnLogo {
    width: 90px;
    float: left;
    margin-top: 4px;
}

.headerContainer a {
    height: 30px;
    float: left;
    margin-top: 13px;
    display: block;
    color: $darkGrey;
    font-size: 16px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
.headerContainer a:hover {
    color: $linkHover;
}
#searchContainer {
    width: auto;
    height: 56px;
    float: left;
    padding-right: 15px;
}
    #searchBar {
        width: 230px;
        height: 28px;
        float: left;
        margin-top: 12px;
        padding-left: 10px;
        font-size: 14px;
        border: 1px solid #cccccc;
        border-radius: 15px;
    }
#rightSideContainer {
    width: auto;
    height: 56px;
    float: right;
}
    .rightLinks {
        font-size: 15px !important;
    }
    .signInLink {
        width: 78px;
        color: #FFFFFF !important;
        background-color: $linkHover;
        border-radius: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
        .signInLink:hover {
            background-color: #21baff;
        }