// SASS variables
$chipnYellow: #FFCD00;
$linkHover: black;
$darkGrey: #484848;
$headerBackground: #ffffff;

.headerContainer {
    min-height: "20%";
    height:"auto";
    background-color: #FFFFFF;
    color: white;
}
.login{
    color:white !important;
    border: 1.4px solid white !important;
    background-color:transparent !important;
}

.login:hover{
    color:white !important;
    border: 1.4px solid black !important;
    background-color:black !important;
}

.signup{
    color:white !important;
    background-color: transparent !important;
    border: 1.4px solid transparent !important;
    padding:10px !important;
    border-radius: 10px !important; 
}

.signup:hover{

    color:white !important;
    background-color: black !important;
    border: 1.4px solid transparent !important;
    padding:10px !important;
    border-radius: 10px !important; 
}

.signup:active{
    color:white !important;
    background-color: black !important;
    border: 1.4px solid transparent !important;
    padding:10px !important;
    border-radius: 10px !important; 
}

.discover{
    color:white !important;
    background-color: transparent !important;
}

.discover:hover{
    color:white !important;
    background-color: black !important;
}

.search{
    color: white !important;
    background-color: transparent !important;
}

.search:hover{
    color: white !important;
    box-shadow: none !important;
    outline:white !important;

}

.search:active{
    color: white !important;
    box-shadow: none;
    outline: white !important;

}

.search:focus{
    color: white !important;
    box-shadow: none;
    outline: white !important;

}

.chipnLogo{
    color:white;
    padding:1em !important;
    border: 1.4px solid transparent !important;
}

.chipnLogo:hover{
    background-color: black !important;
}