// SASS variables
$chipnYellow: #FFCD00;
$linkHover: black;
$darkGrey: #484848;
$headerBackground: #ffffff;

.outerContainer{
    padding-bottom: 7em !important;
    background-color:  #1d1d1d !important;
}

.gridContainer{
    flex-grow: 1 !important;
    align-items: center !important;
    height:100% !important;
    background-color:black !important;
}

.appbar{
    align-items: center !important;
    flex-grow: 1 !important;
    background-color: $chipnYellow !important;
}

.login{
    padding:1em !important;
    color:black !important;
    background-color:transparent !important;
}

.login:hover{
    color:$chipnYellow !important;
    background-color:black !important;
    border: 10px black solid !important;
}

.discover{
    padding:1em !important;
    color:black !important;
}

.discover:hover{
    color:$chipnYellow !important;
    background-color:black !important;
    border: 10px black solid !important;
}

.search{
    padding:1em !important;
    color: black !important;
    background-color: transparent !important;
    border: 1px black solid !important;
    border-radius: 10px !important;
    outline: none;
}

.search:hover{
    color: white !important;
    background-color: black !important;
    border: 4px black solid !important;
    border-radius: 10px !important;
}

.register{
    padding:1em !important;
    color:black !important;
    background-color:transparent !important;
}

.register:hover{
    color:$chipnYellow !important;
    background-color:black !important;
    border: 10px black solid !important;
}

.logochipn{
    width: 150px !important;
    height: 35px !important;
    object-fit: contain !important;
}

.gridcontain{
    align-items: center !important;
    background-color: transparent !important;
    height:100% !important;
}

.items{
    padding:10px !important;
    height:100% !important;
}