// SASS variables
$chipnYellow: #FFCD00;
$linkHover: #03A9F4;
$darkGrey: #484848;
$buttonBG: #FF3A3A;

.SignIn {
    width: 100%;
    min-height: calc(100vh - 57px);
    max-height: calc(100vh - 57px);
    background-color: #F9F9F9;
    border-bottom: 1px solid #EEEEEE;
    color: $darkGrey;
    box-shadow: 0px 1px 5px #EEEEEE;
    position: relative;
    text-align: center;
    z-index: 90;
}
.si_Container {
    height: 500px;
    min-height: 500px;
    max-height: auto;
    position: relative;
    top: calc(50vh - 279px);
    background-color: #FFFFFF;
    border-radius: 15px;
    border: 1px solid #EEEEEE;
}
.si_ImageContainer {
    width: 100%;
    margin: 0px;
    padding: 0px;
    min-height: 498px;
    background-color: #F4F4F4;
    border-right: 1px solid #cccccc;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.si_Form h1 {
    margin: 0px;
    margin-top: 20px;
}
.si_Form button {
    width: 40%;
    height: 40px;
    color: #FFFFFF;
    background-color: #5085EC;
    border: 1px solid #5085EC;
    margin-top: 18px;
    margin-bottom: 12px;
    border-radius: 14px;
}
.socialMediaLoginContainer {
    float: left;
}
.socialMediaLoginButtons {
    width: 36px;
    height: 36px;
    float: left;
    margin-top: 15px;
    margin-left: 6px;
    margin-right: 6px;
    line-height: 35px;
    background-color: #cccccc;
    border-radius: 20px;
}
label {
    float: left;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3px;
}
.si_Input {
    min-width: 100%;
    max-width: 100%;
    height: 28px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 5px;
}