// SASS variables
$chipnYellow: #FFCD00;
$linkHover: #03A9F4;
$darkGrey: #484848;
$headerBackground: #ffffff;
$buttonBG: #FF3A3A;

.discoverCauseContainer {
    min-height:"20%";
    height: auto;
    width:"100%";
    background-color: black;
    color: $darkGrey;
    text-align: center;
}

.discoverbtn{
    font-size: 1.4em !important;
}

.discoverbtn:hover{
    background-color: $chipnYellow !important;
    color: black !important;
    border: 3px $chipnYellow solid !important;
}
