// SASS variables
$chipnYellow: #FFCD00;
$linkHover: #03A9F4;
$darkGrey: #484848;
$headerBackground: #ffffff;
$buttonBG: #FF3A3A;

.discoverCauseContainer {
    width: 100%;
    min-height: calc(100vh - 57px);
    background-color: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
    color: $darkGrey;
    box-shadow: 0px 1px 5px #EEEEEE;
    position: relative;
    z-index: 90;
}
    #discoverCauseLeftContainer {
        width: 50%;
        max-width: 50%;
        min-height: calc(100vh - 57px);
        max-height: calc(100vh - 57px);
        float: left;
        position: absolute;
        background-color: #FFFFFF;
    }
        #discoverCauseLeftContainer h1 {
            font-size: 52px;
        }
        #discoverCauseLeftContainer p {
            font-size: 19px;
        }
        #discoverCauseLeftContainer button {
            width: 200px;
            height: 58px;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 700;
            margin-top: 15px;
            background-color: $buttonBG;
            border: 1px solid $buttonBG;
            border-radius: 15px;
        }
        #discoverCauseLeftContainer button:hover {
            cursor: pointer;
        }
        .leftContainerContent {
            position: relative;
            top: 21vh;
            left: 7vw;
        }
    #discoverCauseRightContainer {
        width: 50%;
        min-height: calc(100vh - 57px);
        max-height: calc(100vh - 57px);
        position: absolute;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
        .backgroundImage {
            flex-shrink: 0;
            min-width: 100%;
            min-height: 100%
        }