// SASS variables
$chipnYellow: #FFCD00;
$chipnGrey: #f2f2f2;
$chipnLightGrey: #f7f7f7;
$linkHover: #03A9F4;
$darkGrey: #484848;
$headerBackground: #ffffff;
$buttonBG: #FF3A3A;

.featuredCharitiesContainer {
    width: 100%;
    min-height: 600px;
    height:auto;
    background-color: #FFFFFF;
    background-image: linear-gradient(285deg, transparent 60%, $chipnGrey 60%);
    align-items: center;
    align-content: center;
}