$chipnYellow: #FFCD00;
$greyChipn: #f2f2f2;
$lightgreyChipn: #f7f7f7;

.featured-charities-container {
    width: 100%;
    height: 20%;
    background-image: linear-gradient(
        290deg, transparent 67%, $greyChipn 67%, $lightgreyChipn 67%) ;
    padding: 3em;
}

.card-charities {
    padding: 1em;
    width: 20%;
}

.featured-charities-heading{
    width: 30%;
}
