// SASS variables
$chipnYellow: #FFCD00;
$linkHover: #03A9F4;
$darkGrey: #484848;
$buttonBG: #FF3A3A;
$chipnYellow: #FFCD00;
$chipnGrey: #f2f2f2;
$linkHover: #03A9F4;
$darkGrey: #484848;
$headerBackground: #ffffff;
$buttonBG: #FF3A3A;
$chipnYellowWhite: #fff3bf;
$chipnYellowLight: #ffda40;
$chipnYellowLightest:#fff6d1;
$chipnLightGrey: #f7f7f7;

.widgetInfoContainer {
    width: 100% !important;
    min-height: 300px !important;
    height:"auto" !important;
    background-image: linear-gradient(46deg, $chipnYellow 55%, $chipnGrey 55%) ;
}

.widget{
    height:550px !important;
    width:80% !important;
    object-fit: contain !important;
}

.signup{
    color: black !important;
    border: 1.4px solid black !important;
}

.signup:hover{
    border: 1.4px solid transparent !important;
    color:white !important;
}