// SASS variables
$chipnYellow: #FFCD00;
$linkHover: #03A9F4;
$darkGrey: #484848;
$buttonBG: #FF3A3A;

.Discover {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #F4F4F4;
}

.sortBarContainer {
    min-height: 900px;
    padding-right: 30px;
}

.rightContainer {
    background-color: $darkGrey;
}